.user-profile img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:15%;
  height:15%;
  padding-top: 20px;
}

.user-profile p{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.user-profile a{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.user-profile a:link{
  text-decoration:none;
  color: #15abaf;
  
}
.user-profile a:active{
  text-decoration:none;
  color: #15abaf;
}

.user-profile a:hover{
  text-decoration:none;
  color: #16c9ce;
}

table{
  width:100%;
}

td{
  width: 300px;
  height: 300px;
  vertical-align:middle;
}

td img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  height: auto;
}

td a{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.tie-profile a:link{
  text-decoration:none;
  color: #15abaf;
}
.tie-profile a:active{
  text-decoration:none;
  color: #15abaf;
}

.tie-profile a:hover{
  text-decoration:none;
  color: #16c9ce;
}
