{% load filters %}
{% include "nav-bar.html" %}

{% block content %}
{% load static %}

<div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-auto col-sm-8 col-md-6" id="settings-form">
        <h2 style="text-align:center" class="ck-font">Add Friend</h2>
        <hr />
        <div class="form-group">
          <h4 class="ck-font"> Your Username: {{ user.username }}</h4>
          <h4 class="ck-font"> Your Friend Code: {{ user.friend_code }}</h4>
        </div>
        <hr />
<form action="" method ="POST">
  
  <table>
  {% csrf_token %}
  {{ form.as_table }}
  {{form.non_field_errors}} 
    
  </table>

  <button class="btn btn-primary mb-2" style="float:right" type="submit" value ="Add Friend">Add Friend</button>
</form>
</div>
</div> 
</div> 
{% endblock %}










<!-- <label class="ck-font" style="margin-right:2%;">{{ form.friend_code.label }}</label>{{ CharField }} -->



 <!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-auto col-sm-8 col-md-6" id="settings-form">
        <h2 style="text-align:center" class="ck-font">Add Friend</h2>
        <hr />
        <div class="form-group">
          <h4 class="ck-font"> Your Username: {{ user.username }}</h4>
          <h4 class="ck-font"> Your Friend Code: {{ user.friend_code }}</h4>
        </div>
        <hr />
        <div class="form-group">
          <label for="username">
            <h5 class="ck-font">Username:</h5>
          </label>
          <input type="text" class="form-control" id="username">
          <label for="friendCode">
            <h5 class="ck-font">Friend Code:</h5>
          </label>
          <input type="text" class="form-control" id="friendCode">
        </div>
        <button type="submit" class="btn btn-primary mb-2" style="float:right">Add Friend</button>
      </div>
    </div> 
  </div> -->





<!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-auto col-sm-8 col-md-6" id="settings-form">
        <h2 style="text-align:center" class="ck-font">Add Friend</h2>
        <hr />
        <div class="form-group">
          <h4 class="ck-font"> Your Username: {{ user.username }}</h4>
          <h4 class="ck-font"> Your Friend Code: {{ user.friend_code }}</h4>
        </div>
        <hr />
<form action="" >
     <table > 
    {{ form.as_table }}
     </table>
  <input class="btn btn-primary mb-2" style="float:right" type="submit" value ="Add Friend">
</form>
</div>
</div> 
</div> -->