{% load filters %}
{% include "nav-bar.html" %}

{% block content %}
{% for post in posts %}
<div class="card">
  <div class="card-body">
    <div class="side-col">
      <p class="card-text ck-card-name">
        <a class="user-link" href="/closeknit/{{post.author.user.username}}/account">@{{post.author.user.username}}</a> says:
      </p>
      <button type="button" class="ck-react-button ck-font" data-toggle="collapse" data-target="#p{{forloop.counter}}" aria-expanded="false" aria-controls="footerOne" onclick="move()">
        <span class="hl-blue">Comments</span>
      </button>
    </div>
    <div class="text-col">
      <h1 class="ck-card-title">
        "{{post.text_content}}"
      </h1>
      <div class="ck-card-footer card-footer collapse" id="p{{forloop.counter}}">
        <div class="user-input-box">
          <div class="comment-col">
            <div class="comment-box">
              {% for comment in post.comment_set.all|dictsort:"time_stamp" %}
              <p class="comment-text text-left"><a class="user-link" href="/closeknit/{{comment.author.user.username}}/account">@{{comment.author.user.username}}</a> {{ comment.content|urlizetrunc:15 }}</p>
              {% endfor %}
            </div>
            <a class="btn ck-button" href="{% url 'add-comment' pk=post.pk %}">Comment</a>
          </div>


            <div class="react-col">
              {% with post.reaction_set.all|percentage as reactions %}
              <div id="reaction" class="reaction-bar" style="background-color: #15ABAF;" reactVal="{{ reactions.0 }}">
                <form action="/b_deep/" method="post">
                  <button class="react-btn" type="submit">👽</button>
                </form>
              </div>
              <div id="reaction" class="reaction-bar" style="background-color: #509799;" reactVal="{{ reactions.1 }}">
                <form action="/b_deep/" method="post">
                  <button class="react-btn" type="submit">🥜</button>
                </form>
              </div>
              <div id="reaction" class="reaction-bar" style="background-color: #1FFF86;" reactVal="{{ reactions.2 }}">
                <form action="/b_deep/" method="post">
                  <button class="react-btn" type="submit">🍔</button>
                </form>
              </div>
              <div id="reaction" class="reaction-bar" style="background-color: #FF5E7C;" reactVal="{{ reactions.3 }}">
                <form action="/b_deep/" method="post">
                  <button class="react-btn" type="submit">😨</button>
                </form>
              </div>
              {% endwith %}
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
