{% load filters %}
{% include "nav-bar.html" %}

{% block content %}
{% load static %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-auto col-sm-8 col-md-6" id="settings-form">
      <h2 style="text-align:center; padding-top:20px;" class="ck-font">Settings</h2>
      <!-- <hr />
      <div class="form-check">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Notifications On</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Notifications Off</label>
      </div> -->
      <hr />

      <form action="" method="POST">
        <div class="form-group">
          {% csrf_token %}
          {% if fno == 1 %}
          {{form.non_field_errors}}
          {% endif %}
          <label for="email">
            <h5 class="ck-font">Current Email: {{ user.email }}</h5>
            <h5 class="ck-font">New Email:</h5>
          </label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <button name="btnEmail" type="submit" class="btn btn-primary mb-2" style="background-color: #15abaf; border-color: #15abaf; float:right;">Update Email</button>
      </form>

      <hr / style="margin-top: 15%;">

      <form action="" method="POST">
        <div class="form-group" style="margin-top: 8%;">
          {% csrf_token %}
          {% if fno == 2 %}
          {{form.non_field_errors}}
          {% endif %}
          <label for="username">
            <h5 class="ck-font">Current Username: @{{ user.username }}</h5>
            <h5 class="ck-font">New Username:</h5>
          </label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <button name="btnUsername" type="submit" class="btn btn-primary mb-2"style="background-color: #15abaf; border-color: #15abaf; float:right;">Update Username</button>
      </form>

      <hr / style="margin-top: 15%;">

      <form action="" method="POST">
        <div class="form-group"style="margin-top: 8%;">
          {% csrf_token %}
          {% if fno == 3 %}
          {{form.non_field_errors}}
          {% endif %}
          <label for="friendCode">
            <h5 class="ck-font">Current Friend Code: {{ user.friend_code }}</h5>
            <h5 class="ck-font">New Friend Code:</h5>
          </label>
          <input type="text" class="form-control" id="friendCode" name="friend_code">
        </div>
        <button name="btnFriendCode" type="submit" class="btn btn-primary mb-2"style="background-color: #15abaf; border-color: #15abaf; float:right;">Update Friend Code</button>
      </form>

      <hr / style="margin-top: 15%;">

      <form action="" method="POST">
        <div class="form-group"style="margin-top: 8%;">
          {% csrf_token %}
          {% if fno == 4 %}
          {{form.non_field_errors}}
          {% endif %}
          <label for="currentPassword">
            <h5 class="ck-font">Enter Current Password: </h5>
          </label>
          <input type="text" class="form-control" id="currentPassword" name="old_password">
          <label for="newPassword">
            <h5 class="ck-font">Enter New Password: </h5>
          </label>
          <input type="text" class="form-control" id="newPassword" name="new_password">
          <label for="renewPassword">
            <h5 class="ck-font">Re-Enter New Password: </h5>
          </label>
          <input type="text" class="form-control" id="renewPassword" name="confirm_password">
        </div>
        <button name="btnPassword" type="submit" class="btn btn-primary mb-2"style="background-color: #15abaf; border-color: #15abaf; float:right;">Update Password</button>
      </form>

      <hr / style="margin-top: 15%;">

      <div class="from-group"style="margin-top: 8%;">
      </div>
      <button type="submit" onclick="location.href='/closeknit/login'" class="btn btn-primary mb-2"style="background-color: #15abaf; border-color: #15abaf; float:right;">Log Out</button>
    </div>
  </div>
  {% endblock %}