{% load filters %}
{% include "nav-bar.html" %}
{% block content %}
<div id="scroller"></div>
<div id="sentinel"></div>
<script type="text/javascript">
  /* global IntersectionObserver */
  var scroller = document.querySelector('#scroller');
  var sentinel = document.querySelector('#sentinel');
  var counter = 0;

  function loadItems(n) {
    var posts;
    var url = `/closeknit/get-posts/${n}`;
    console.log("#########");
    console.log(counter);
    store += 10;
    return new Promise(resolve => {
      $.getJSON(url, function(data) {
        posts = JSON.parse(data.posts);
        console.log(posts);
        posts.forEach(function(post) {
          console.log(post);
          var newItem = document.createElement('div');
          newItem.innerHTML =
            `
            <div class="card">
              <div class="card-body">
                <div class="side-col">
                  <p class="card-text ck-card-name">
                    <a class="user-link" href="/closeknit/${post.fields.author}/account">@${post.fields.author}</a> says:
                  </p>
                  <button type="button" class="ck-react-button ck-font" data-toggle="collapse" data-target="#p${counter}" aria-expanded="false" aria-controls="footerOne" onclick="move()">
                    <span class="hl-blue">Comments</span>
                  </button>
                </div>
                <div class="text-col">
                  <h1 class="ck-card-title">
                    "${post.fields.text_content}"
                  </h1>
                  <div class="ck-card-footer card-footer collapse" id="p${counter}">
                    <div class="user-input-box">
                      <div class="comment-col">
                        <div class="comment-box">
                          <p class="comment-text text-left"><a class="user-link" href="/closeknit/hello/account">@hello</a> This is bad</p>
                        </div>
                        <div class="user-comment">
                          <textarea rows="1" type="text" class="form-control comment-input" id="postInput"></textarea>
                          <button class="btn ck-button">Send</button>
                        </div>
                      </div>


                      <div class="react-col">
                        <div id="reaction" class="reaction-bar" style="background-color: #15ABAF;" reactVal="100">👽</div>
                        <div id="reaction" class="reaction-bar" style="background-color: #509799;" reactVal="20">🥜</div>
                        <div id="reaction" class="reaction-bar" style="background-color: #1FFF86;" reactVal="30">🍔</div>
                        <div id="reaction" class="reaction-bar" style="background-color: #FF5E7C;" reactVal="40">😨</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          `
          counter++;
          scroller.append(newItem);

        });
      })
      Promise.resolve("resolve");
    });
  }
  var store = 0;
  var intersectionObserver = new IntersectionObserver(async (entries) => {
    // If intersectionRatio is 0, the sentinel is out of view
    // and we do not need to do anything.
    if (entries[0].intersectionRatio <= 0) {
      return;
    }
    console.log("IntersectionObserver");
    await loadItems(store)
    scroller.append(sentinel);
  });
  intersectionObserver.observe(sentinel);
</script>
{% endblock %}



###################




{% load filters %}
{% include "nav-bar.html" %}
{% block content %}
<div id="scroller"></div>
<div id="sentinel"></div>
<script type="text/javascript">
  /* global IntersectionObserver */
  var scroller = document.querySelector('#scroller');
  var sentinel = document.querySelector('#sentinel');
  var counter = 0;

  function loadItems(n) {
    var posts;
    var url = `/closeknit/get-posts/${n}`;
    console.log("#########");
    console.log(counter);
    store += 10;
    return new Promise(resolve => {
      $.getJSON(url, function(data) {
        posts = JSON.parse(data.posts);
        console.log(posts);
        posts.forEach(function(post) {
          console.log(post);
          var newItem = document.createElement('div');
          newItem.innerHTML =
            `
            <div class="card">
              <div class="card-body">
                <div class="side-col">
                  <p class="card-text ck-card-name">
                    <a class="user-link" href="/closeknit/${post.fields.author}/account">@${post.fields.author}</a> says:
                  </p>
                  <button type="button" class="ck-react-button ck-font" data-toggle="collapse" data-target="#p${counter}" aria-expanded="false" aria-controls="footerOne" onclick="move()">
                    <span class="hl-blue">Comments</span>
                  </button>
                </div>
                <div class="text-col">
                  <h1 class="ck-card-title">
                    "${post.fields.text_content}"
                  </h1>
                  <div class="ck-card-footer card-footer collapse" id="p${counter}">
                    <div class="user-input-box">
                      <div class="comment-col">
                        <div class="comment-box">
                          <p class="comment-text text-left"><a class="user-link" href="/closeknit/hello/account">@hello</a> This is bad</p>
                        </div>
                        <form method="post">{% csrf_token %}
                          <input type="text" class="form-control" name="new_comment">
                          <button type="submit" class="btn ck-button" name="new_comment_post" value={{post.id}} id='refresh_div'>Comment</button>
                        </form>
                      </div>


                      <div class="react-col">
                        <div id="reaction" class="reaction-bar" style="background-color: #15ABAF;" reactVal="100">
                          <form method="post">{% csrf_token %}
                            <button class="ck-react-button" type="submit" name='react1' value="77" id='refresh_div'>👽</button>
                          </form>
                        </div>
                        <div id="reaction" class="reaction-bar" style="background-color: #509799;" reactVal="10">
                          <form method="post">{% csrf_token %}
                            <button class="ck-react-button" type="submit" name='react2' value="77" id='refresh_div'>🥜</button>
                          </form>
                        </div>
                        <div id="reaction" class="reaction-bar" style="background-color: #1FFF86;" reactVal="40">
                          <form method="post">{% csrf_token %}
                            <button class="ck-react-button" type="submit" name='react3' value="77" id='refresh_div'>🍔</button>
                          </form>
                        </div>
                        <div id="reaction" class="reaction-bar" style="background-color: #FF5E7C;" reactVal="70">
                          <form method="post">{% csrf_token %}
                            <button class="ck-react-button" type="submit" name='react4' value="77" id='refresh_div'>😨</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          `
          counter++;
          scroller.append(newItem);

        });
      })
      Promise.resolve("resolve");
    });
  }
  var store = 0;
  var intersectionObserver = new IntersectionObserver(async (entries) => {
    // If intersectionRatio is 0, the sentinel is out of view
    // and we do not need to do anything.
    if (entries[0].intersectionRatio <= 0) {
      return;
    }
    console.log("IntersectionObserver");
    await loadItems(store)
    scroller.append(sentinel);
  });
  intersectionObserver.observe(sentinel);
</script>
{% endblock %}