#signup-form{
  top: 4rem;
  margin-bottom: 4rem;
  background-color: white;
  text-align:left;
  border: solid 2px black;
  /* box-shadow: 0px 4px 8px rgba(0,0,0,0.2); */
}

#signup-form .btn-link{
  align-content:center;
}

#signup-form .btn-default{
  margin: 0 0 1.0em;
  float:right;
  align-content:center;
}

.form-group input:focus{
  background-color: #e2e2e2;
  border-color: #15abaf;
  box-shadow: 0 0 0px rgba(21, 171, 175, 0.4);
}

.form-control {
  border-radius: 0px;
  border: solid 2px black;
}
