#header {
  background-color: red;
}

.text {
  color: #ffffff;
}

.navbar-nav {
  margin-left: auto;
  font-family: 'Poppins', serif;
}

.nav-style {
  border-bottom: 2px solid black;
  background-color: white;
}

.ck-card-title {
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
}

.ck-card-name {
  text-align: center;
  padding-left: 15rem;
}

.ck-card-image {
  width: auto;
  height: 90%;
  margin: 0 auto;
  border-radius: 0px;
  border: 2rem solid black;
  border-top-color: #282828;
  border-right-color: #212121;
  border-left-color: #212121;
  border-bottom-color: #191919;
}

.card-body {
  margin: 0 auto;
}

.card-body {
  margin: 0 auto;
}

.ck-react-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline: none;
  margin-left: 6rem;
}

.ck-button:active{
  border: none;
}

.left-button-img {
  width: auto;
  height: 1rem;
  margin-left: 4rem;
  background-color: Transparent;
}

.card {
  font-family: 'Poppins', serif;
  border: 0px;
}
/* #7accd8 #ccfdfe */
.navbar-light .navbar-nav > .active > .nav-link{
  color: #15abaf;
}

.navbar-light .navbar-nav > .active > .nav-link:hover{
  color: #15abaf;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #16c9ce;
}

.ck-button {
  border: solid 2px black;
  color: black;
  background-color: white;
}

.ck-button:hover {
  border: solid 2px black;
  color: black;
  background-color: #16c9ce;
}

.ck-button:focus {
  border: solid 2px #16c9ce;
  color: black;
  background-color: #16c9ce;
}

#navPostLink {
  border: solid 2px black;
}

#navPostLink:hover {
  background-color: #e2e2e2;
}

.modal-content {
  border: solid 2px black;
}

.modal-body {
  border-bottom: 0px;
}

.modal-buttons {
  margin-right: 0px;
  margin-left: .2rem;
  float: right;
}

#postInput {
  border: solid 2px black;
}

.backdrop {
  background-color: rgb(240, 250, 255);
  position: relative;
  min-height: 100%;
}

.login-card {
  flex-grow: 1;
  border-radius: 10px;
  position: relative;
  top: 90px;
  text-align: center;
  margin: 0 auto;
  width: 500px;
  height: 300px;
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  font-family: 'Poppins', serif;
}

.form-group {
  position: relative;
  top: 10px;
  text-align: left;
}

#LogInButton {
  position: relative;
  top: 15px;
  bottom: 10px;
  border: solid 2px black;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 5%;
}

.login-divider {
  height: 2px;
  background-color: black;
}

.welcome {
  text-align: left;
  color: black;
  font-size: 15pt;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}
