#header {
  background-color: red;
}

.text {
  color: #ffffff;
}

.navbar-nav {
  margin-left: auto;
  font-family: 'Poppins', serif;
}

.nav-style {
  border-bottom: 2px solid black;
  background-color: white;
}

.ck-card-title {
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
}

.ck-card-name {
  text-align: center;
  padding-left: 15rem;
}

.ck-card-image {
  width: auto;
  height: 90%;
  margin: 0 auto;
  border-radius: 0px;
  border: 2rem solid black;
  border-top-color: #282828;
  border-right-color: #212121;
  border-left-color: #212121;
  border-bottom-color: #191919;
}

.card-body {
  margin: 0 auto;
}

.card-body {
  margin: 0 auto;
}

.ck-react-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline: none;
  margin-left: 6rem;
}

.ck-button:active{
  border: none;
}

.left-button-img {
  width: auto;
  height: 1rem;
  margin-left: 4rem;
  background-color: Transparent;
}

.card {
  font-family: 'Poppins', serif;
  border: 0px;
}
/* #7accd8 #ccfdfe */
.navbar-light .navbar-nav > .active > .nav-link{
  color: #15abaf;
}

.navbar-light .navbar-nav > .active > .nav-link:hover{
  color: #15abaf;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #16c9ce;
}

.ck-button {
  border-radius: 0px;
  border: solid 2px black;
  color: black;
  background-color: white;
  font-family: "Poppins", serif;
}

.ck-button:hover {
  border: solid 2px black;
  color: white;
  background-color: #16c9ce;
}

.ck-button:focus {
  border: solid 2px #16c9ce;
  color: white;
  background-color: #16c9ce;
}

.modal-content {
  border-radius: 0px;
  border: solid 2px black;
}

.modal-body {
  border-bottom: 0px;
}

.modal-buttons {
  margin-right: 0px;
  margin-left: .2rem;
  float: right;
}

#postInput {
  border-radius: 0px;
  border: solid 2px black;
}

#modalImageIcon {
  width: 2rem;
  height: auto;
  padding-top: .3rem;
}

.ck-card-footer {
  margin: 0 auto;
  width: 40%;
  margin-bottom: 2rem;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  border-radius: 0px;
  background: white;
}

.ck-react-bar {
  height: 1.2rem;
    text-align: center;
}

.comment-box {
  margin: 1rem;
  height: 5rem;
  background: white;
  overflow-y: scroll;
}

.comment-input {
  width: 30%;
}

.comment-username {
}

.comment-container {
  margin-left: 0px;
}

.reaction-image {
  width: 1.5rem;
  height: auto;
}

.ck-font {
  font-family: "Poppins", serif;
}
