{% load filters %}
{% include "nav-bar.html" %}

{% block content %}
{% load static %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-auto col-sm-8 col-md-6" id="settings-form">
      <h2 style="text-align:center" class="ck-font">Settings</h2>
      <!-- <hr />
      <div class="form-check">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Notifications On</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Notifications Off</label>
      </div> -->
      <hr />
      <div class="form-group">
        <label for="email">
          <h5 class="ck-font">Current Email: {{ user.email }}</h5>
          <h5 class="ck-font">New Email:</h5>
        </label>
        <input type="email" class="form-control" id="email">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Update Email</button>
      <hr />
      <div class="form-group">
        <label for="username">
          <h5 class="ck-font">Current Username: @{{ user.username }}</h5>
          <h5 class="ck-font">New Username:</h5>
        </label>
        <input type="text" class="form-control" id="username">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Update Username</button>
      <hr />
      <div class="form-group">
        <label for="friendCode">
          <h5 class="ck-font">Current Friend Code: {{ user.friend_code }}</h5>
          <h5 class="ck-font">New Friend Code:</h5>
        </label>
        <input type="text" class="form-control" id="friendCode">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Update Friend Code</button>
      <hr />
      <div class="form-group">
        <label for="currentPassword">
          <h5 class="ck-font">Enter Current Password: </h5>
        </label>
        <input type="text" class="form-control" id="currentPassword">
        <label for="newPassword">
          <h5 class="ck-font">Enter New Password: </h5>
        </label>
        <input type="text" class="form-control" id="newPassword">
        <label for="renewPassword">
          <h5 class="ck-font">Re-Enter New Password: </h5>
        </label>
        <input type="text" class="form-control" id="renewPassword">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Update Password</button>
      <hr />
      <div class="from-group">
      </div>
    </div>
  </div>
  {% endblock %}